<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Welcome to SquadRun</h1>
    <h2 class="home">The Community Run Normalizer</h2>
    <%= link_to "Login with Map My Fitness", "/auth/mapmyfitness", class: "btn btn-lg btn-default btn-home" %> 
  </div>
  <div class="col-md-2"></div>
</div>