<div class="anton">
  <div class="row center opaque white-text">
    <div class="col s12 m5 l5 offset-m7 offset-l7">
      <h1 class="home">Welcome to<br>Run Normalizer</h1>
      <%= link_to "Login with Map My Fitness", "/auth/mapmyfitness", class: "btn btn-lg btn-default btn-home" %> 
    </div>
  <div class="spacer-home"></div>
  </div>
</div>